* {
    font-family: "Segoe UI Light";
    padding: 0;
    margin: 0;
}
:root{
}
body{
    /* background-color: #0D0D0D; */
}
.l{
   /* padding-top: 25%; */
       opacity: 0;
}
.appear{
    position: relative;
    top: 50%;
}
.nvbr{
    width: 20%;
    z-index: 999999999;
    left: -15%;
    top: 0;
    bottom: 0;
}
.nv{
    font-size: 18px;
    font-weight: 500;
    color: #f9f6f6;
}
.nv:hover{
    color: #f9f6f6;
}
span{
    color: #8F8D8F;
    line-height: 27px;
    font-size: 18px;
}
.nav-social-item{
    left: 11%;
    top: 21%;
}
.xbtn .imgcontainer{
    width: 100%;
}
.xbtn img{
    width: 85%;
}
.strip-social-icon i{
    color: #212529;
}
#content img{
    width: 100%;
}
.imgcont{
    width: 95%;
}
.photo{
    position: relative;
    overflow: hidden;
}
.layer {
    width: 92%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 12px;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    color: #000;
    font-weight: 800;
    transition: all 1s;
}
.photo:hover .layer{
    top: 0;
}
.mealdesc p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}
.mealdetails h2{
    font-size: 2.3rem;
    margin-bottom: 0.7rem;
}
.mealdetails h3{
    font-size: 1.9rem;
}
.mealdetails h5{
    font-size: 1.1rem;
}
#recipes h3{
    background-color: #D4EDDA;
    font-size: 1.02rem;
}
#tags,.youtube,.btn-success{
    font-size: 18px;
}
#tags{
    background-color: #F8D7DA;
    border: solid #F8D7DA;
}
.youtube{
    background-color: #F70000;
    border: solid #F70000;
}
.btn-success{
    background-color: #28a745;
    border: solid #28a745;
}
.youtube:hover{
    background-color: #F70000;
    border: solid #F70000;
}
.btn-success:hover{
    background-color: #298e41;
    border: solid #298e41;
}
.fa-city {
    color: #e65a50ab;
}

.fa-3x {
    font-size: 3.5em;
}
#areacont h2 ,#ingrdcont h2{
    font-size: 2.2em;
}
#ingrdcont i{
    color: #6E9E3A;
}
#ingrdcont p{
    font-size: 1.1em;
}
.xx{
    cursor: pointer;
}

.mmm {
    left: 12.5%;
    z-index: 999;
    top: 0;
    padding-top: 30px;
    background-color: #0D0D0D;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
    color: #6C757D;
    font-weight: 500;
    font-size: 19px;
    background-color: #0D0D0D;
    outline: none;
    /* transition: 0.4s ease-in; */
  }
   #search-container input:focus {
    outline-style: solid ;
    outline-color: #0A294A;
  }
  :placeholder-shown{
    text-align: center;
  }
  .contact input{
    background-color: #000;
    margin-bottom: 15px;
    padding: 2%;
    box-shadow: 0.5rem 1.1rem 1rem 0.1rem rgba(255,255,255,.1)!important;
  }
  
  #contact button{
    font-size: 18px;
  }
  #contact h2{
    font-size: 2.3rem;
  }
  .loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: white;
  }
  #loading{
    z-index: 999999;
  }
  #floading{
    z-index: 99999999999;
  }
  .d{
    display: none;
    width: 75%;
  }
  .cont{
    top: 10%;
  }
  .form-control {
    margin-bottom: 15px;
    width: 75%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    box-shadow: -0.5rem 1.1rem 1rem 0.1rem  rgba(255,255,255,.1)!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    outline-style: solid ;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.7);
  }
.p1{
    position: relative;
    left: 20%;
}
.p2{
    position: relative;
    right: 5%;
}
